html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
}
a,
button,
select,
input {
  outline: 0 !important;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.address {
  font-style: italic;
  text-align: center;
}
.btn {
  padding: 10px;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #14597f;
  border: 1px solid #0b2d3d;
  border-radius: 4px;
  transition: all ease-out 0.2s;
}
.btn:hover {
  text-decoration: none;
  background-color: #1fb5e9;
}
.btn-group {
  display: flex;
  padding: 0;
  margin-top: 10px;
  list-style: none;
  border: 1px solid #999;
  border-radius: 4px;
  flex-wrap: wrap;
}
.btn-group.vertical > button {
  flex-basis: 100%;
}
.btn-group.vertical > button:not(:last-of-type) {
  border-right: none;
  border-bottom: 1px solid #999;
}
.btn-group > button {
  padding: 10px;
  font-size: 0.9em;
  color: #444;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  transition: all ease-out 0.2s;
  flex: 1;
}
.btn-group > button:hover {
  background-color: #f3f3f3;
}
.btn-group > button:hover,
.btn-group > buttonactive,
.btn-group > button:visited {
  color: #444;
}
.btn-group > button:not(:last-of-type) {
  border-right: 1px solid #999;
}
.btn-group > button.selected {
  background-color: #ddf2fb;
}
.dialog {
  position: fixed;
  bottom: 30px;
  left: 50%;
  z-index: 10;
  max-width: 400px;
  padding: 16px;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  transform: translateX(-50%);
}
.form-control {
  padding: 9px;
  border: 1px solid #999;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group {
  margin-bottom: 15px;
}
.form-group .error {
  color: #d9534f;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: bold;
}
.form-group label.error {
  margin-top: 10px;
}
.form-group .form-control {
  width: 100%;
}
.loading {
  width: 100%;
  height: 75px;
  background: url(../img/loading.svg) no-repeat center center;
  background-size: contain;
}
.pull-right {
  float: right;
}
.row {
  display: flex;
  margin: 0 -10px;
  clear: both;
  flex-wrap: wrap;
}
.row > .col {
  padding: 0 10px;
  flex: 1;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead,
.table tbody {
  border-bottom: 1px solid black;
}
.table thead th {
  font-weight: bold;
}
.table tbody th {
  font-weight: normal;
}
.table tr {
  text-align: left;
}
.table tr > th,
.table tr > td {
  padding: 10px;
}
#home-img {
  float: right;
  max-width: 40%;
}
#product-image {
  width: 100%;
  max-width: 500px;
}
#product-quantity {
  max-width: 60px;
}
header {
  height: 60px;
  background-color: #14597f;
  border-bottom: 1px solid #0b2d3d;
}
header > .header-container {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}
header .logo {
  display: inline-block;
  height: 40px;
  margin: 10px 0;
}
header .logo img {
  height: 100%;
}
header nav {
  display: inline-block;
  float: right;
}
header nav > ul {
  display: inline-block;
  padding: 0;
  margin: 0 10px 0 0;
  list-style: none;
}
header nav > ul > li {
  display: inline-block;
  margin: 0 5px;
}
header nav > ul > li > a {
  line-height: 60px;
  color: #fff;
  text-decoration: none;
}
header nav > ul > li.active > a {
  padding: 10px 15px;
  background-color: #1fb5e9;
  border-radius: 4px;
}
header nav .shopping-cart {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}
header nav .shopping-cart .fa-shopping-cart {
  color: #14597f;
}
header nav .shopping-cart .count {
  position: absolute;
  right: -8px;
  bottom: -14px;
  display: none;
  width: 18px;
  height: 18px;
  font-size: 0.7em;
  line-height: 18px;
  color: white;
  text-align: center;
  background-color: #d9534f;
  border-radius: 16px;
}
header nav .shopping-cart .count.visible {
  display: inline;
}
main {
  display: flex;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto 100px auto;
  flex-wrap: wrap;
}
.sidebar {
  padding-right: 30px;
  box-sizing: border-box;
  flex-basis: 25%;
}
.sidebar h2 {
  margin-top: 30px;
  font-size: 1em;
}
article {
  position: relative;
  flex: 1;
}
article h1 {
  margin-top: 30px;
  font-size: 1.8em;
}
article h2 {
  margin-top: 0.8em;
  font-size: 1.2em;
}
article p {
  text-align: justify;
}
article hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px dashed #999;
}
article .right-header {
  float: right;
  margin-top: 30px;
}
/* Products list */
.products {
  display: flex;
  margin: -10px;
  clear: both;
  flex-wrap: wrap;
}
.products > .product {
  padding: 10px;
  box-sizing: border-box;
  flex-basis: 33.3333%;
}
.products > .product > a {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #000;
  text-decoration: none;
  border: 1px solid #999;
  border-radius: 4px;
  transition: all ease-out 0.2s;
}
.products > .product > a:hover,
.products > .product > a:active,
.products > .product > a:visited {
  color: #000;
  background-color: #f3f3f3;
}
.products > .product > a h2 {
  margin: 0 0 5px 0;
  font-size: 1.1em;
}
.products > .product > a .price {
  margin: 0;
  font-size: 1.1em;
  text-align: right;
}
.products > .product > a img {
  width: 100%;
  margin-bottom: 10px;
}
/* Contact info container */
.contact-info {
  padding: 20px 0;
  margin: 40px 0 0 0;
  text-align: center;
  border: 1px solid #999;
  border-radius: 8px;
}
.contact-info i {
  margin-bottom: 10px;
}
/* Shopping cart table */
.shopping-cart-table {
  margin-bottom: 15px;
}
.shopping-cart-table th,
.shopping-cart-table td {
  text-align: left;
}
.shopping-cart-table th:first-child,
.shopping-cart-table td:first-child {
  width: 30px;
}
.shopping-cart-table th:last-child,
.shopping-cart-table td:last-child {
  text-align: right;
}
.shopping-cart-table th .row,
.shopping-cart-table td .row {
  max-width: 100px;
  margin: 0;
  text-align: center;
}
.shopping-cart-table th .row .col,
.shopping-cart-table td .row .col {
  padding: 0;
}
.shopping-cart-table button {
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: #ddd;
  border: none;
  border-radius: 12px;
}
.shopping-cart-table button:hover {
  background-color: #bbb;
}
.shopping-cart-table button[disabled] {
  cursor: default;
  background-color: #ddd;
}
.shopping-cart-total {
  padding-right: 10px;
  margin-bottom: 30px;
  text-align: right;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #eee;
  border-top: 1px solid #ccc;
}

.fadeOut {
  opacity: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn {
  opacity: 1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
